#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(5, 150px);
  grid-auto-rows: 150px;
  gap: 20px;
  justify-content: center;
}

h1 {
  font-size: 32px;
}
.game-completed {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  inset: 0;
  display: grid;
  place-items: center;
}
.game-completed h1 {
  font-size: 60px;
}

.flip-card {
  background-color: transparent;
  perspective: 1000px;
  cursor: pointer;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card.active .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #494949;
  color: black;
  border-radius: 4px;
}

.flip-card-back {
  background-color: rgb(44, 45, 47);
  color: white;
  transform: rotateY(180deg);
  display: grid;
  place-items: center;
  border-radius: 4px;
  font-size: 50px;
}
